#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  max-width: 400px;
  max-height: 700px;
  margin: auto;
  background-color: black;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.card-background{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.pirate-bay-at-night{
  background-image: url(/pirate_bay_at_night.webp);
}

.underdog-regular {
  font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
}

.text-overlay {
  position: absolute;
  z-index: 1;
}

.violet {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.red {
  text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
}

.orange {
  text-shadow: 1px 1px 2px rgb(255, 115, 0), 0 0 1em rgb(255, 102, 0), 0 0 0.2em red;
}

.char-contract {
  left: 15px;
  bottom: 5px;
  width: 200px;
  height: 200px;
}

.char-contract div:first-child {
  margin-top: 40px;
}

.char-contract * {
  margin-left: 40px;
}

.char-stats {
  position: absolute;
  top: 70px;
  left: 20px;
  z-index: 1;
}

.char-stat-line {
  margin-top: 20px;
}

.chalk-board {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 200px;
  background-image: url(/chalk_board.png);
}

.char-name {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}

/*Birds*/
.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  width: 44px;
  height: 63px;
  will-change: background-position;
  -webkit-animation-name: fly-cycle;
          animation-name: fly-cycle;
  -webkit-animation-timing-function: steps(10);
          animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.bird--one {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 10%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  -webkit-animation-name: fly-right-one;
          animation-name: fly-right-one;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.bird-container--one {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@-webkit-keyframes fly-right-one {
  0% {
    transform: translateX(0vw) scale(0.25);
  }
  100% {
    transform: translateX(105vw);
  }
}
@keyframes fly-right-one {
  0% {
    transform: translateX(0vw) scale(0.25);
  }
  100% {
    transform: translateX(105vw) scale(0.25);
  }
}
/*Birds end*/