#app { height: 100% }
html,
body {
  position: relative;
  max-width: 400px;
  max-height: 700px;
  margin: auto;
  background-color: black;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: #fff;
}

.card-background{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.pirate-bay-at-night{
  background-image: url(/pirate_bay_at_night.webp);
}

.burning-deck{
  background-image: url(/burning_deck.webp);
}